function Grid.new 0
    push constant 17
    call Memory.alloc 1
    pop pointer 0
    push constant 1
    pop this 5
    push constant 1
    pop this 6
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push this 0
    push this 1
    call Math.multiply 2
    pop this 2
    push this 0
    push this 1
    call Math.multiply 2
    pop this 7
    push constant 0
    pop this 4
    push constant 224
    push argument 1
    push constant 16
    call Math.multiply 2
    sub
    push constant 2
    call Math.divide 2
    pop this 3
    push this 2
    call Array.new 1
    pop this 8
    push this 2
    call Array.new 1
    pop this 9
    push constant 8
    call Array.new 1
    pop this 10
    push constant 8
    call Array.new 1
    pop this 11
    push constant 0
    push this 11
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push this 11
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 11
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push this 11
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push this 11
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push this 11
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push this 11
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push this 11
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    push this 10
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push this 10
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 10
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push this 10
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push this 10
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push this 10
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push this 10
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push this 10
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    call Array.new 1
    pop this 12
    push constant 4
    call Array.new 1
    pop this 13
    push constant 0
    push this 13
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push this 13
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 13
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push this 13
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    push this 12
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push this 12
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 12
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push this 12
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    return
function Grid.generateGrid 6
    push argument 0
    pop pointer 0
    push argument 1
    pop this 4
    push this 7
    push argument 1
    sub
    pop this 7
    push constant 1
    pop local 2
    push constant 1
    pop local 1
    push constant 0
    pop local 3
    push argument 2
    call Utilities.setSeed 1
    pop temp 0
    push constant 1
    pop local 2
    push constant 1
    pop local 1
    push constant 0
    pop local 3
label Grid_0
    push local 3
    push argument 1
    lt
    not
    if-goto Grid_1
    push this 2
    push constant 1
    sub
    push constant 0
    call Utilities.random 2
    pop local 0
label Grid_2
    push local 0
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    eq
    push local 0
    push constant 1
    lt
    or
    not
    if-goto Grid_3
    push local 0
    push this 2
    push constant 1
    sub
    push constant 0
    call Utilities.random 2
    add
    pop local 0
    push local 0
    push this 2
    push constant 1
    sub
    call Utilities.modulus 2
    pop local 0
    goto Grid_2
label Grid_3
    push local 0
    push this 9
    add
    push constant 9
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 3
    push constant 1
    add
    pop local 3
    goto Grid_0
label Grid_1
    push constant 1
    pop local 2
    push constant 1
    pop local 1
    push constant 0
    pop local 3
label Grid_4
    push local 3
    push this 2
    lt
    not
    if-goto Grid_5
    push constant 0
    pop local 4
    push constant 0
    pop local 5
label Grid_6
    push local 4
    push constant 8
    lt
    not
    if-goto Grid_7
    push local 1
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push constant 0
    gt
    push local 1
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push this 0
    push constant 1
    add
    lt
    and
    push local 2
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    push constant 0
    gt
    and
    push local 2
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    push this 1
    push constant 1
    add
    lt
    and
    not
    if-goto Grid_9
    push pointer 0
    push local 1
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push local 2
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    call Grid.getFillValue 3
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    eq
    not
    if-goto Grid_11
    push local 5
    push constant 1
    add
    pop local 5
    goto Grid_10
label Grid_11
label Grid_10
    goto Grid_8
label Grid_9
label Grid_8
    push local 4
    push constant 1
    add
    pop local 4
    goto Grid_6
label Grid_7
    push local 3
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    lt
    not
    if-goto Grid_13
    push local 3
    push this 9
    add
    push local 5
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Grid_12
label Grid_13
label Grid_12
    push local 3
    push constant 1
    add
    pop local 3
    push local 1
    push constant 1
    add
    pop local 1
    push local 1
    push this 0
    gt
    not
    if-goto Grid_15
    push constant 1
    pop local 1
    push local 2
    push constant 1
    add
    pop local 2
    goto Grid_14
label Grid_15
label Grid_14
    goto Grid_4
label Grid_5
    push constant 0
    pop local 3
label Grid_16
    push local 3
    push this 2
    lt
    not
    if-goto Grid_17
    push local 3
    push this 8
    add
    push constant 11
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 3
    push constant 1
    add
    pop local 3
    goto Grid_16
label Grid_17
    push constant 0
    return
function Grid.drawGrid 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 2
    push constant 1
    pop local 0
    push constant 1
    pop local 1
label Grid_18
    push local 1
    push this 1
    push constant 1
    add
    lt
    not
    if-goto Grid_19
    push local 0
    push local 1
    push this 3
    push local 2
    push this 8
    add
    pop pointer 1
    push that 0
    call cellDrawing.place 4
    pop this 14
    push local 0
    push constant 1
    add
    pop local 0
    push local 0
    push this 0
    gt
    not
    if-goto Grid_21
    push local 1
    push constant 1
    add
    pop local 1
    push constant 1
    pop local 0
    goto Grid_20
label Grid_21
label Grid_20
    push local 2
    push constant 1
    add
    pop local 2
    goto Grid_18
label Grid_19
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    push constant 0
    return
function Grid.drawGridNoPointer 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 2
    push constant 1
    pop local 0
    push constant 1
    pop local 1
label Grid_22
    push local 1
    push this 1
    push constant 1
    add
    lt
    not
    if-goto Grid_23
    push local 0
    push local 1
    push this 3
    push local 2
    push this 8
    add
    pop pointer 1
    push that 0
    call cellDrawing.place 4
    pop this 14
    push local 0
    push constant 1
    add
    pop local 0
    push local 0
    push this 0
    gt
    not
    if-goto Grid_25
    push local 1
    push constant 1
    add
    pop local 1
    push constant 1
    pop local 0
    goto Grid_24
label Grid_25
label Grid_24
    push local 2
    push constant 1
    add
    pop local 2
    goto Grid_22
label Grid_23
    push constant 0
    return
function Grid.revealCell 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    push pointer 0
    call Grid.getMemValue 1
    push this 9
    add
    pop pointer 1
    push that 0
    gt
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    push pointer 0
    call Grid.getMemValue 1
    push this 9
    add
    pop pointer 1
    push that 0
    lt
    or
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    push constant 10
    lt
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    push constant 10
    gt
    or
    and
    not
    if-goto Grid_27
    push this 5
    push this 6
    push this 3
    push pointer 0
    call Grid.getMemValue 1
    push this 9
    add
    pop pointer 1
    push that 0
    call cellDrawing.place 4
    pop this 14
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    push pointer 0
    call Grid.getMemValue 1
    push this 9
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    push this 7
    push constant 1
    sub
    pop this 7
    goto Grid_26
label Grid_27
label Grid_26
    push pointer 0
    call Grid.getMemValue 1
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    eq
    not
    if-goto Grid_29
    push constant 1
    return
    goto Grid_28
label Grid_29
    push this 7
    push constant 1
    lt
    not
    if-goto Grid_31
    push constant 2
    return
    goto Grid_30
label Grid_31
    push constant 0
    return
label Grid_30
label Grid_28
function Grid.movePointer 0
    push argument 0
    pop pointer 0
    push this 5
    push this 6
    push this 3
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    call cellDrawing.place 4
    pop this 14
    push argument 1
    push constant 133
    eq
    not
    if-goto Grid_33
    push this 6
    push constant 1
    add
    pop this 6
    push this 6
    push this 1
    gt
    not
    if-goto Grid_35
    push this 1
    pop this 6
    goto Grid_34
label Grid_35
label Grid_34
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    goto Grid_32
label Grid_33
    push argument 1
    push constant 131
    eq
    not
    if-goto Grid_37
    push this 6
    push constant 1
    sub
    pop this 6
    push this 6
    push constant 1
    lt
    not
    if-goto Grid_39
    push constant 1
    pop this 6
    goto Grid_38
label Grid_39
label Grid_38
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    goto Grid_36
label Grid_37
    push argument 1
    push constant 132
    eq
    not
    if-goto Grid_41
    push this 5
    push constant 1
    add
    pop this 5
    push this 5
    push this 0
    gt
    not
    if-goto Grid_43
    push this 0
    pop this 5
    goto Grid_42
label Grid_43
label Grid_42
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    goto Grid_40
label Grid_41
    push argument 1
    push constant 130
    eq
    not
    if-goto Grid_45
    push this 5
    push constant 1
    sub
    pop this 5
    push this 5
    push constant 1
    lt
    not
    if-goto Grid_47
    push constant 1
    pop this 5
    goto Grid_46
label Grid_47
label Grid_46
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    goto Grid_44
label Grid_45
label Grid_44
label Grid_40
label Grid_36
label Grid_32
    push constant 0
    return
function Grid.plantFlag 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    push constant 10
    gt
    push this 4
    push constant 0
    gt
    and
    not
    if-goto Grid_49
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    push constant 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 5
    push this 6
    push this 3
    push pointer 0
    call Grid.getMemValue 1
    push this 8
    add
    pop pointer 1
    push that 0
    call cellDrawing.place 4
    pop this 14
    push this 4
    push constant 1
    sub
    pop this 4
    goto Grid_48
label Grid_49
label Grid_48
    push this 4
    return
function Grid.gameOverSequence 1
    push argument 0
    pop pointer 0
label Grid_50
    push local 0
    push this 2
    lt
    not
    if-goto Grid_51
    push local 0
    push this 8
    add
    pop pointer 1
    push that 0
    push constant 10
    eq
    push local 0
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    eq
    and
    not
    if-goto Grid_53
    push local 0
    push this 8
    add
    push constant 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Grid_52
label Grid_53
    push local 0
    push this 8
    add
    pop pointer 1
    push that 0
    push constant 10
    eq
    push local 0
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    lt
    push local 0
    push this 9
    add
    pop pointer 1
    push that 0
    push constant 9
    gt
    or
    and
    not
    if-goto Grid_55
    push local 0
    push this 8
    add
    push constant 12
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Grid_54
label Grid_55
    push local 0
    push this 8
    add
    push local 0
    push this 9
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
label Grid_54
label Grid_52
    push local 0
    push constant 1
    add
    pop local 0
    goto Grid_50
label Grid_51
    push pointer 0
    call Grid.drawGridNoPointer 1
    pop temp 0
    push constant 0
    return
function Grid.floodFill 7
    push argument 0
    pop pointer 0
    call stackStuff.new 0
    pop local 6
    push local 6
    push argument 1
    call stackStuff.xStackPush 2
    pop temp 0
    push local 6
    push argument 2
    call stackStuff.yStackPush 2
    pop temp 0
label Grid_56
    push local 4
    push constant 8
    lt
    not
    if-goto Grid_57
    push local 0
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push constant 0
    gt
    push local 1
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    push constant 0
    gt
    and
    push local 0
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push this 0
    push constant 1
    add
    lt
    and
    push local 1
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    push this 1
    push constant 1
    add
    lt
    and
    not
    if-goto Grid_59
    push local 6
    push local 0
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    call stackStuff.xStackPush 2
    pop temp 0
    push local 6
    push local 1
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    call stackStuff.yStackPush 2
    pop temp 0
    goto Grid_58
label Grid_59
label Grid_58
    push local 4
    push constant 1
    add
    pop local 4
    goto Grid_56
label Grid_57
label Grid_60
    push local 6
    call stackStuff.isEmpty 1
    push constant 0
    eq
    not
    if-goto Grid_61
    push local 6
    call stackStuff.xStackPop 1
    pop local 0
    push local 6
    call stackStuff.yStackPop 1
    pop local 1
    push pointer 0
    push local 0
    push local 1
    call Grid.getFillValue 3
    pop local 2
    push local 2
    push this 9
    add
    pop pointer 1
    push that 0
    pop local 3
    push local 2
    push this 8
    add
    pop pointer 1
    push that 0
    push constant 11
    eq
    not
    if-goto Grid_63
    push local 0
    push local 1
    push this 3
    push local 3
    call cellDrawing.place 4
    pop this 14
    push local 2
    push this 8
    add
    push local 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Grid_62
label Grid_63
label Grid_62
    push local 3
    push constant 0
    eq
    not
    if-goto Grid_65
    push constant 0
    pop local 4
label Grid_66
    push local 4
    push constant 8
    lt
    not
    if-goto Grid_67
    push local 0
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push constant 0
    gt
    push local 1
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    push constant 0
    gt
    and
    push local 0
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    push this 0
    push constant 1
    add
    lt
    and
    push local 1
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    push this 1
    push constant 1
    add
    lt
    and
    not
    if-goto Grid_69
    push local 6
    push local 0
    push local 4
    push this 11
    add
    pop pointer 1
    push that 0
    add
    call stackStuff.xStackPush 2
    pop temp 0
    push local 6
    push local 1
    push local 4
    push this 10
    add
    pop pointer 1
    push that 0
    add
    call stackStuff.yStackPush 2
    pop temp 0
    goto Grid_68
label Grid_69
label Grid_68
    push local 4
    push constant 1
    add
    pop local 4
    goto Grid_66
label Grid_67
    goto Grid_64
label Grid_65
label Grid_64
    goto Grid_60
label Grid_61
    push this 5
    push this 6
    push this 3
    call cellDrawing.selectorDraw 3
    pop temp 0
    push local 6
    call stackStuff.clear 1
    pop temp 0
    push local 6
    call stackStuff.dispose 1
    pop temp 0
    push constant 0
    return
function Grid.getMemValue 0
    push argument 0
    pop pointer 0
    push this 5
    push constant 1
    sub
    push this 6
    push constant 1
    sub
    push this 0
    call Math.multiply 2
    add
    return
function Grid.getFillValue 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 1
    sub
    push argument 2
    push constant 1
    sub
    push this 0
    call Math.multiply 2
    add
    return