function Utilities.mainModulus 2
    push argument 0
    pop pointer 0
    push argument 1
    push argument 2
    call Math.divide 2
    pop local 1
    push local 1
    push argument 2
    call Math.multiply 2
    push argument 1
    gt
    not
    if-goto Utilities_1
    push local 1
    push constant 1
    sub
    pop local 1
    goto Utilities_0
label Utilities_1
label Utilities_0
    push local 1
    push argument 2
    call Math.multiply 2
    pop local 1
    push argument 1
    push local 1
    sub
    pop local 0
    push local 0
    return
function Utilities.modulus 2
    push argument 0
    push argument 1
    call Math.divide 2
    pop local 1
    push local 1
    push argument 1
    call Math.multiply 2
    push argument 0
    gt
    not
    if-goto Utilities_3
    push local 1
    push constant 1
    sub
    pop local 1
    goto Utilities_2
label Utilities_3
label Utilities_2
    push local 1
    push argument 1
    call Math.multiply 2
    pop local 1
    push argument 0
    push local 1
    sub
    pop local 0
    push local 0
    return
function Utilities.power 2
    push argument 1
    pop local 0
label Utilities_4
    push local 0
    push constant 0
    lt
    not
    if-goto Utilities_5
    push local 1
    push argument 0
    add
    pop local 1
    push argument 1
    push constant 1
    sub
    pop argument 1
    goto Utilities_4
label Utilities_5
    push local 1
    return
function Utilities.mainPower 2
    push argument 0
    pop pointer 0
    push argument 2
    pop local 0
label Utilities_6
    push local 0
    push constant 0
    lt
    not
    if-goto Utilities_7
    push local 1
    push argument 1
    add
    pop local 1
    push argument 2
    push constant 1
    sub
    pop argument 2
    goto Utilities_6
label Utilities_7
    push local 1
    return
function Utilities.len 0
    push argument 0
    push constant 9999
    gt
    not
    if-goto Utilities_9
    push constant 5
    return
    goto Utilities_8
label Utilities_9
label Utilities_8
    push argument 0
    push constant 999
    gt
    not
    if-goto Utilities_11
    push constant 4
    return
    goto Utilities_10
label Utilities_11
label Utilities_10
    push argument 0
    push constant 99
    gt
    not
    if-goto Utilities_13
    push constant 3
    return
    goto Utilities_12
label Utilities_13
label Utilities_12
    push argument 0
    push constant 9
    gt
    not
    if-goto Utilities_15
    push constant 2
    return
    goto Utilities_14
label Utilities_15
label Utilities_14
    push argument 0
    push constant 10
    lt
    not
    if-goto Utilities_17
    push constant 1
    return
    goto Utilities_16
label Utilities_17
label Utilities_16
    push constant 0
    return
function Utilities.setSeed 0
    push argument 0
    pop static 0
    push constant 0
    return
function Utilities.rand 0
    push static 0
    push constant 214
    call Math.multiply 2
    push constant 2531
    add
    push constant 65
    call Math.divide 2
    pop static 0
    push static 0
    return
function Utilities.random 2
    call Utilities.rand 0
    pop local 1
    push argument 0
    push argument 1
    sub
    push constant 1
    add
    pop local 0
    push local 1
    push local 0
    call Utilities.modulus 2
    return